.env
.idea
WebDir.app/webdirapp/linux/flutter/generated_plugin_registrant.cc
WebDir.app/webdirapp/linux/flutter/generated_plugin_registrant.h
WebDir.app/webdirapp/linux/flutter/generated_plugins.cmake
WebDir.app/webdirapp/macos/Flutter/GeneratedPluginRegistrant.swift
WebDir.app/webdirapp/windows/flutter/generated_plugin_registrant.cc
WebDir.app/webdirapp/windows/flutter/generated_plugin_registrant.h
WebDir.app/webdirapp/windows/flutter/generated_plugins.cmake
WebDir.app/webdirapp/lib/assets/.env
