* {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

.entrees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.entree {
    text-wrap: wrap;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.24s;
}

.entree:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.entree ul {
    list-style-type: none;
    padding: 0;
}

.profilePic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.profilePic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profilePic .initiales {
    font-size: 2em;
    font-weight: bold;
}

.voir {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffff00;
    transition: 0.24s;
}

.voir:hover {
    cursor: pointer;
    background-color: #ffcc00;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffff00;
    border-bottom: 2px solid #000;
    color: #000;
}

nav {
    display: flex;
    justify-content: left   ;
    align-items: center;
    padding: 10px;
    color: #fff;
}

nav input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

nav select {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

nav button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #000;
    color: #ffffff;
    transition: 0.24s;
}

nav button:hover {
    cursor: pointer;
    background-color: #323232;
}

h2{
    text-align: center;
}

.hide {
    display: none;
}

#popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    text-align: center;
}

#popup {
    margin: 25px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 40%;
}

#popup-content img, #popup-content .profilePic{
    margin: 10px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: x-large;
}

#popup-content h3 {
    margin: 0;
    margin-bottom: 10px;
}

#popup-content p {
    margin: 5px;
}

#contactList {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#contactList .contactTile:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#contactList h4{
    margin: 0;
    padding: 10px;
    background-color: #000;
    color: #fff;

}

.contactTile{
    padding: 20px;
    background-color: #eee;
    transition: 0.24s;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    text-align: left;
}

.contactTile:hover{
    cursor: pointer;
    background-color: #ddd;
}

.contactTile p{
    margin: 0;

}

#popup-header{
    background-color: #ffff00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
}

#popup-header p{
    font-size: large;
    margin: 0 20px;
    font-weight: bold;
}

#popup-header button{
    background-color: #000;
    color: #fff;
    border: none;
    border-top-left-radius: 20px;
    padding: 20px;
    font-size: large;
    transition: 0.24s;
}

#popup-header button:hover{
    cursor: pointer;
    background-color: #323232;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.service{
    margin: 0px 5px ;
}

.info{
    padding: 10px;
}